In [1]:
# Import dependencies

import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [5]:
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [8]:
crowdfunding_info_df.sample(n=10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
577,2371,Stevens Inc,Adaptive 24hour projection,8200,1546,canceled,37,US,USD,1633669200,1637992800,False,False,music/jazz
529,2177,Gallegos Inc,Seamless logistical encryption,5100,574,failed,9,US,USD,1588136400,1617512400,False,False,games/video games
366,2944,"Williams, Perez and Villegas",Robust directional system engine,1800,10658,successful,101,US,USD,1611554400,1626843600,False,True,theater/plays
936,1303,Brown Ltd,Enhanced composite contingency,103200,1690,failed,21,US,USD,1599541200,1610344800,True,False,theater/plays
659,313,Bailey and Sons,Grass-roots dynamic emulation,120700,57010,failed,750,GB,GBP,1624078800,1641189600,False,False,film & video/documentary
440,1689,Miller-Poole,Networked optimal adapter,102500,165954,successful,3131,US,USD,1604469600,1615183200,False,False,film & video/television
24,1019,"Scott, Wilson and Martin",Cross-platform intermediate frame,92400,104257,successful,2673,US,USD,1619845200,1633064400,False,False,technology/wearables
391,2901,Miller-Patel,Mandatory uniform strategy,60400,4393,failed,151,US,USD,1637474400,1639893600,False,False,publishing/nonfiction
434,3123,Floyd-Sims,Cloned transitional hierarchy,5400,903,canceled,10,CA,CAD,1593838800,1613023200,True,False,theater/plays
729,1071,Moore Group,Multi-lateral object-oriented open system,5600,10397,successful,122,US,USD,1639029600,1643781600,False,False,film & video/drama

In [9]:
contact_info_df.tail()

996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [15]:
contact_info_df.sample(n=10)

136             {"contact_id": 6036, "name": "Gerardo Hamilton", "email": "gerardo.hamilton@libero.it"}
432        {"contact_id": 2159, "name": "Camillo Dehmel", "email": "camillo.dehmel@brown-campbell.com"}
216                          {"contact_id": 4149, "name": "Mattia Huet", "email": "mattia.huet@aol.de"}
63              {"contact_id": 3325, "name": "Laurie Fibonacci", "email": "laurie.fibonacci@gmail.com"}
925                           {"contact_id": 2676, "name": "Sam Adams", "email": "sam.adams@yahoo.com"}
266                 {"contact_id": 5642, "name": "Marlen Coardi", "email": "marlen.coardi@colletti.eu"}
899     {"contact_id": 1344, "name": "Ottfried Marques", "email": "ottfried.marques@tyler-watson.info"}
958              {"contact_id": 3737, "name": "Shane Fernandez", "email": "shane.fernandez@hotmail.de"}
723                     {"contact_id": 6159, "name": "Jordan Rowe", "email": "jordan.rowe@outlook.com"}
414  {"contact_id": 4785, "name": "Guillermina Nicholson", "email": "guillermina.nicholson@grondin.fr"}